.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  user-select: none;
  -webkit-user-select: none;
  font-size: 50px;
  width: 350px;
  height: 250px;
  color: transparent;

}

.hello:hover {
  color: white;
}

